{% extends '@RiaAdmin/layout.html.twig' %}

{% block header_actions %}
    <a href="{{ path('post.stories.create') }}" type="button"
       class="btn btn-lg btn-icon btn-primary btn-round waves-effect waves-classic"
       data-toggle="tooltip" data-original-title="Create">
        <i class="icon md-plus" aria-hidden="true"></i>
    </a>
{% endblock %}

{% block content %}

    <div class="panel">
        <div class="panel-body">

        </div>
    </div>

{% endblock %}